## Petitions

Petition are pieces of content that can be signed by members.

### Show

> GET response Body

```json
{
  "petition": {
    "id": 123,
    "slug": "no-taxes-on-tea",
    "title": "No Taxes on Tea",
    "who": "King George",
    "what": "Stop taxing our tea",
    "why": "It is unjust.",
    "locale": "en",
    "admin_status": "good",
    "created_at": "2018-01-22T19:01:44Z",
    "updated_at": "2018-03-05T15:02:02Z",
    "launched": true,
    "signature_count_add_amount": 100
    "source": "effort_near",
    "admin_notes": [
      {
        "source": "legacy",
        "body": "An older note about this campaign",
        "created_at": "2018-01-25T23:45:12Z",
        "user": null
      },
      {
        "source": "user",
        "body": "We should have a call with this campaigner but they have no telephone.",
        "created_at": "2019-10-09T12:34:45Z",
        "user": {
          "email": "organiser_2@example.com",
          "full_name": "Sarah Organiser"
        }
      }
    ],
    "url": "https://demo.controlshiftlabs.com/petitions/no-taxes-on-tea",
    "public_who": "King George",
    "public_signature_count": 234,
    "goal": 500,
    "ended": true,
    "ended_type": "won",
    "ended_reason": "We overthrew the government and they don't tax our tea anymore.",
    "successful": true,
    "ended_story": "This was an overwhelming success!",
    "image": {
      "urls": {
        "open_graph": "http://cdn.example.com/petitions/images/25/open_graph/a-little-teapot.png?1516647704",
        "horizontal": "http://cdn.example.com/petitions/images/25/horizontal/a-little-teapot.png?1516647704",
        "hero": "http://cdn.example.com/petitions/images/25/hero/a-little-teapot.png?1516647704",
        "original": "http://cdn.example.com/petitions/images/25/original/a-little-teapot.png?1516647704",
        "form": "http://cdn.example.com/petitions/images/25/form/a-little-teapot.png?1516647704"
      },
      "description": "Picture of a small teapot with flowers on it and money tucked under the lid"
    },
    "creator": {
      "full_name": "Patrick Henry",
      "first_name": "Patrick",
      "last_name": "Henry",
      "email": "patrick.henry@example.com",
      "phone_number": "555-555-5555"
    },
    "location": {
      "query": "boston harbor",
      "latitude": "42.3376368",
      "longitude": "-70.99304",
      "venue": "Boston Harbor",
      "street_number": "",
      "street": "",
      "region": "MA",
      "postal_code": "",
      "country": "US",
      "created_at": "2017-11-16T22:38:29Z"
    },
    "decision_makers": [
      {
        "slug": "king-george",
        "name": "George",
        "context": "King of England",
        "phone_number": "",
        "email": "",
        "location": {
          "query": "buckingham palace",
          "latitude": "51.501364",
          "longitude": "-0.1440787",
          "venue": "Buckingham Palace",
          "street_number": "",
          "street": "",
          "region": "London",
          "postal_code": "SW1A 1AA",
          "country": "UK",
          "created_at": "2017-11-16T22:38:29Z"
        }
      }
    ],
    "effort": {
      "slug": "no-taxation-without-representation"
    },
    "partnership": {
      "slug": "the-american-revolution"
    },
    "categories": [
      {
        "slug": "avoidingtaxes",
        "name": "Avoiding Taxes"
      },
      {
        "slug": "boats",
        "name": "Boats"
      }
    ]
  }
}
```

Find information about a petition by URL slug.

`GET /api/v1/petitions/no-taxes-on-tea`

<div></div>

### List

> GET response body

```json
{
  "petitions": [
    {
      "id": 123,
      "slug": "no-taxes-on-tea",
      "title": "No Taxes on Tea",
      ...
    },
    {
      "id": 124,
      "slug": "stop-burning-coal-1",
      "title": "Stop Burning Coal",
      ...
    },
    ...
  ],

  "meta": {
    "current_page": 1,
    "total_pages": 12,
    "previous_page": null,
    "next_page": 2
  }
}
```

Get a paginated list of all petitions, including ones that are unlaunched or otherwise not visible to the public. Includes all the same data as the single-petition endpoint for each petition.

<%= partial "includes/shared/pagination.md" %>

`GET /api/v1/petitions?page=1`

<div></div>

### Update

Updates petition content using an HTTP PUT request.

We support several request formats for the data to be updated, but the most straightforward is to send the data as a json formatted PUT body.

In the request body only include the fields that you would like to update to a new value. The slug in the URL defines which petition should be updated.


`PUT /api/v1/petitions/no-taxes-on-tea`

> PUT request body

```json
{
  "petition": {
    "signature_count_add_amount": 100
  }
}
```

<div></div>

### Destroy

Permanently deletes the petition and all associated information including signature data via an HTTP DELETE request.

This is an asynchronous task, so while API calls will return with a success message immediately
it may take up to several minutes for the petition and all of its data to be completely
destroyed.

`DELETE /api/v1/petitions/no-taxes-on-tea`

> DELETE response body

```json
{
  "status": "success",
  "message": "Petition has been scheduled for deletion.",
  "petition": {
    "slug": "no-taxes-on-tea"
  }
}
```

<div></div>


### Apply Label

Applies an existing Label to a specific Petition.

**Note:** Currently it is not possible to create Labels via the API. The Label needs to exists to allow tagging a Petition with it.

The request body must include a `name` attribute with the name of the label to be applied to the Petition.

`POST /api/v1/petitions/no-taxes-on-tea/labelings`

Response on success will not have a body, and status code will be `201 - Created`

> POST request body

```json
{
  "name": "We Love Tea!"
}
```

<div></div>

### Remove Label

Removes a Label from the Petition.

The name of the Label must be included in the URL and be correctly percent encoded as per RFC 3986.

Response on success will not have a body, and status code will be `200 - Ok`

`DELETE /api/v1/petitions/no-taxes-on-tea/labelings/We%20Love%20Tea%21`
