## Efforts and Landing Pages

Efforts and Landing Pages are both collections of related petitions.
In efforts, each petition must be associated with a specific decision maker or objective, while landing pages allow for simply grouping petitions together without the structure of decision makers or objectives.

Within the API, both Efforts and Landing Pages use the `efforts` URLs.


<div></div>
