## Local Groups

Local Groups are groups of supporters that host events and create petitions.
They can exist either in a specific place, organize around a topic, or a geographic shape.

Within the API and in other technical documentation Local Groups are often referred to as
Local Chapters. These are synonymous features, and simply a consequence of how the software is structured
internally versus the way that Local Groups are described publicly.

### List

Get a paginated list of all local groups and information about each of them.

<%= partial "includes/shared/pagination.md" %>

`GET /api/v1/local_chapters/?page=1`

Hash           | Description
-------------- | -----------
meta           | pagination information
local_chapters | an array of information about the local chapters


### Show
<div></div>

Find information about an event by URL slug.

`GET /api/v1/local_chapters/save-gotham`


### Local Chapter Members
<div></div>

Retrieve a paginated list of all of the people who are members of a particular local group.

`GET /api/v1/local_chapters/save-gotham/members`

Hash           | Description
-------------- | -----------
meta           | pagination information
local_chapter  | Basic information about the local group
members        | Array of information about each supporter in this group

<%= partial "includes/authenticated_api/labelings.md.erb",
            locals: {campaign_type: 'local group', path_prefix: '/api/v1/local-chapters/tea-drinking-society'} %>
