## Local Groups

Local Groups are groups of supporters that host events and create petitions.
They can exist either in a specific place, organize around a topic, or a geographic shape.

Within the API and in other technical documentation Local Groups are often referred to as
Local Chapters. These are synonymous features, and simply a consequence of how the software is structured
internally versus the way that Local Groups are described publicly.

### List

Get a paginated list of all local groups and information about each of them.

<%= partial "includes/shared/pagination.md" %>

`GET /api/v1/local_chapters/?page=1`

Hash           | Description
-------------- | -----------
meta           | pagination information
local_chapters | an array of information about the local chapters


### Show
<div></div>

Find information about an event by URL slug.

`GET /api/v1/local_chapters/save-gotham`


### Local Chapter Members
<div></div>

Retrieve a paginated list of all of the people who are members of a particular local group.

`GET /api/v1/local_chapters/save-gotham/members`

Hash           | Description
-------------- | -----------
meta           | pagination information
local_chapter  | Basic information about the local group
members        | Array of information about each supporter in this group

### Apply Label
<div></div>

Applies an existing Label to a specific Local Group.

**Note:** Currently it is not possible to create Labels via the API. The Label needs to exists to allow tagging an Local Group with it.

The request body must include a `name` attribute with the name of the label to be applied to the Local Group.

`POST /api/v1/local_chapters/save-gotham/labelings`

Response on success will not have a body, and status code will be `201 - Created`

> POST request body

```json
{
  "name": "official"
}
```

In this example we add the label "official" to the Local Group with slug `save-gotham`

### Remove Label

Removes a Label from the Local Group.

The name of the Label must be included in the URL and be correctly percent encoded as per RFC 3986.

Response on success will not have a body, and status code will be `200 - Ok`

`DELETE /api/v1/local_chapters/save-gotham/labelings/official`

In this example we remove the label "official" from the Local Group with slug `save-gotham`
