## Groups

Groups are organized groups of supporters that host events and create petitions.
They may be associated with a specific location or geographic region, or they may be "virtual" groups that organize around a topic.

In API responses and other data sets, Groups are sometimes referred to as "local chapters". This is merely an artifact of how data is stored within the platform; the two terms can be used interchangeably.

### List

Get a paginated list of all groups and information about each of them.

<%= partial "includes/shared/pagination.md" %>

`GET /api/v1/local_chapters/?page=1`

Hash           | Description
-------------- | -----------
meta           | pagination information
local_chapters | an array of information about the local chapters

<div></div>

### Show

Find information about a group by URL slug.

`GET /api/v1/local_chapters/save-gotham`

The `slug` used to identify a group for API purposes is the same as the `slug` that appears in the member-facing group page URL.
For example, for a group whose group page is at `https://demo.controlshiftlabs.com/groups/brooklyn-for-bike-lanes`,
the group `slug` is `brooklyn-for-bike-lanes`.

<div></div>

### Group Members

Retrieve a paginated list of all of the people who are members of a particular group.

`GET /api/v1/local_chapters/save-gotham/members`

Hash           | Description
-------------- | -----------
meta           | pagination information
local_chapter  | Basic information about the group
members        | Array of information about each supporter in this group

<%= partial "includes/authenticated_api/labelings.md.erb",
            locals: {campaign_type: 'group', path_prefix: '/api/v1/local-chapters/tea-drinking-society'} %>

<%= partial "includes/authenticated_api/mentor.md.erb",
            locals: {campaign_type: 'group', path_prefix: '/api/v1/local-chapters/tea-drinking-society'} %>
