## Petitions

Petition are pieces of content that can be signed by members.

### Show

> GET response Body

```json
{
  "petition": {
    "id": 123,
    "slug": "no-taxes-on-tea",
    "title": "No Taxes on Tea",
    "who": "King George",
    "what": "Stop taxing our tea",
    "why": "It is unjust.",
    "locale": "en",
    "admin_status": "good",
    "created_at": "2018-01-22T19:01:44Z",
    "updated_at": "2018-03-05T15:02:02Z",
    "launched": true,
    "signature_count_add_amount": 100
    "source": "effort_near",
    "admin_notes": [
      {
        "source": "legacy",
        "body": "An older note about this campaign",
        "created_at": "2018-01-25T23:45:12Z",
        "user": null
      },
      {
        "source": "user",
        "body": "We should have a call with this campaigner but they have no telephone.",
        "created_at": "2019-10-09T12:34:45Z",
        "user": {
          "email": "organiser_2@example.com",
          "full_name": "Sarah Organiser"
        }
      }
    ],
    "url": "https://demo.controlshiftlabs.com/petitions/no-taxes-on-tea",
    "public_who": "King George",
    "public_signature_count": 234,
    "goal": 500,
    "ended": true,
    "ended_type": "won",
    "ended_reason": "We overthrew the government and they don't tax our tea anymore.",
    "successful": true,
    "ended_story": "This was an overwhelming success!",
    "image": {
      "urls": {
        "open_graph": "http://cdn.example.com/petitions/images/25/open_graph/a-little-teapot.png?1516647704",
        "horizontal": "http://cdn.example.com/petitions/images/25/horizontal/a-little-teapot.png?1516647704",
        "hero": "http://cdn.example.com/petitions/images/25/hero/a-little-teapot.png?1516647704",
        "original": "http://cdn.example.com/petitions/images/25/original/a-little-teapot.png?1516647704",
        "form": "http://cdn.example.com/petitions/images/25/form/a-little-teapot.png?1516647704"
      },
      "description": "Picture of a small teapot with flowers on it and money tucked under the lid"
    },
    "creator": {
      "full_name": "Patrick Henry",
      "first_name": "Patrick",
      "last_name": "Henry",
      "email": "patrick.henry@example.com",
      "phone_number": "555-555-5555"
    },
    "location": {
      "query": "boston harbor",
      "latitude": "42.3376368",
      "longitude": "-70.99304",
      "venue": "Boston Harbor",
      "street_number": "",
      "street": "",
      "region": "MA",
      "postal_code": "",
      "country": "US",
      "created_at": "2017-11-16T22:38:29Z"
    },
    "decision_makers": [
      {
        "slug": "king-george",
        "name": "George",
        "context": "King of England",
        "phone_number": "",
        "email": "",
        "location": {
          "query": "buckingham palace",
          "latitude": "51.501364",
          "longitude": "-0.1440787",
          "venue": "Buckingham Palace",
          "street_number": "",
          "street": "",
          "region": "London",
          "postal_code": "SW1A 1AA",
          "country": "UK",
          "created_at": "2017-11-16T22:38:29Z"
        }
      }
    ],
    "effort": {
      "slug": "no-taxation-without-representation"
    },
    "partnership": {
      "slug": "the-american-revolution"
    },
    "categories": [
      {
        "slug": "avoidingtaxes",
        "name": "Avoiding Taxes"
      },
      {
        "slug": "boats",
        "name": "Boats"
      }
    ]
  }
}
```

Find information about a petition by URL slug.

`GET /api/v1/petitions/no-taxes-on-tea`

<div></div>

### List

> GET response body

```json
{
  "petitions": [
    {
      "id": 123,
      "slug": "no-taxes-on-tea",
      "title": "No Taxes on Tea",
      ...
    },
    {
      "id": 124,
      "slug": "stop-burning-coal-1",
      "title": "Stop Burning Coal",
      ...
    },
    ...
  ],

  "meta": {
    "current_page": 1,
    "total_pages": 12,
    "previous_page": null,
    "next_page": 2
  }
}
```

Get a paginated list of all petitions, including ones that are unlaunched or otherwise not visible to the public. Includes all the same data as the single-petition endpoint for each petition.

<%= partial "includes/shared/pagination.md" %>

`GET /api/v1/petitions?page=1`

<div></div>

### Update

> PUT request body

```json
{
  "petition": {
    "signature_count_add_amount": 100
  }
}
```

Updates the content and/or settings of the petition whose slug is in the URL.

`PUT /api/v1/petitions/no-taxes-on-tea`

The request body should contain only the fields you would like to update, in JSON format. All other fields will be left unchanged.

The fields that can be changed this way are:

Field | Type | Description
------|------|------------
admin_events_status | String | Whether the petition creator can create events associated with the petition. Must be one of "on" (events can be created), "off" (events cannot be created), or "auto" (use the default setting based on moderation status and number of signatures).
alias | String | Used for the petition's short URL. Setting `alias` to "foo" will result in a short URL of /p/foo
campaigner_contactable | Boolean | Whether members of the public can contact the petition creator via the public petition page
can_download_signers | Boolean | Whether the petition creator can download information about petition signers
categories_locked | Boolean | Petition creator cannot change which categories the petition is in
custom_goal | Integer | Signature goal displayed on the petition page. Set to `null` to automatically calculate the goal from the current signature total.
delivery_details | String | "How do you plan to deliver the petition?" text
delivery_details_locked | Boolean | Petition creator cannot change the delivery details
external_facebook_page | String | URL of a Facebook page associated with the petition
external_facebook_page_locked | Boolean | Petition creator cannot change the Facebook page URL
external_site | String | URL of a non-ControlShift page associated with the petition
external_site_locked | Boolean | Petition creator cannot change the external site URL
hide_petition_creator | Boolean | Do not display the petition creator's name or profile picture on the petition page
hide_recent_signers | Boolean | Do not display the list of recent signers on the petition page
hide_signature_form | Boolean | Turn off the form that allows people to sign the petition via the petition page
petition_creator_name_override | String | Name to display for the petition creator on the petition page. Set to `null` to use the name from the petition creator's user account.
redirect_to | String | If set, visitors to the petition page will be redirected to this URL
show_progress_bar | Boolean | Whether to show the signature progress bar on the petition page
signature_count_add_amount | Integer | If set, the displayed signature total on the petition page will be this much higher than the actual number of signatures recorded by the platform. This is usually used to reflect signatures that were gathered elsewhere and cannot be added to the platform, or signers whose data has been anonymized. A negative number can be specified to subtract from the total.
title | String | Petition title
title_locked | Boolean | Petition creator cannot change the title
what | String | Petition text
what_locked | Boolean | Petition creator cannot change the "what" field
who | String | Name of the person this petition is targeting. Petitions associated with a decision maker will not necessarily use this setting.
who_locked | Boolean | Petition creator cannot change the "who" field
why | String | "Why is this important?" text
why_locked | Boolean | Petition creator cannot change the "why" field

<div></div>

### Destroy

> DELETE response body

```json
{
  "status": "success",
  "message": "Petition has been scheduled for deletion.",
  "petition": {
    "slug": "no-taxes-on-tea"
  }
}
```

Permanently deletes the petition and all associated information including signature data via an HTTP DELETE request.

This is an asynchronous task, so while API calls will return with a success message immediately
it may take up to several minutes for the petition and all of its data to be completely
destroyed.

`DELETE /api/v1/petitions/no-taxes-on-tea`



<div></div>

<%= partial "includes/authenticated_api/labelings.md.erb",
            locals: {campaign_type: 'petition', path_prefix: '/api/v1/petitions/no-taxes-on-tea'} %>

<%= partial "includes/authenticated_api/mentor.md.erb",
            locals: {campaign_type: 'petition', path_prefix: '/api/v1/petitions/no-taxes-on-tea'} %>
