## Signatures

Signatures are actions that people have taken on Petitions. All signature actions are namespaced by URL underneath the petitions that the signature
was recorded against.

### Lookup

> GET response body for Lookup

```json
{
  "signature": {
    "bucket": "",
    "country_without_fallback": "US",
    "from_embed": null,
    "last_signed_at": "2020-02-01T10:00:00Z",
    "user_agent": null,
    "deleted_at": null,
    "additional_fields": {},
    "id": 123,
    "country": "US",
    "created_at": "2020-02-01T10:00:00Z",
    "updated_at": "2020-02-01T10:00:00Z",
    "unsubscribe_at": null,
    "email": "foo@bar.com",
    "confirmed_at": null,
    "confirmed_reason": null,
    "first_name": "Foo",
    "join_organisation": true,
    "last_name": "Bar",
    "phone_number": "123-456",
    "postcode": "10010",
    "source": "",
    "token": "abcDEFghi123456789jklMNO",
    "user_ip": "123.123.123.123",
    "utm_campaign": null,
    "utm_content": null,
    "utm_medium": null,
    "utm_source": null,
    "utm_term": null,
    "eu_data_processing_consent": false,
    "consent_content_version": null,
    "data_processing_consent_type": "explicit",
    "partnership_opt_ins": [
      {
        "partnership": {
          "slug": "tea-drinkers-for-freedom"
        },
        "opted_in": false
      },
      {
        "partnership": {
          "slug": "american-revolution"
        },
        "opted_in": true
      }
    ],
    "email_opt_in_type": {
      "context": "web_form",
      "kind": "radio_sure",
      "mailable": true,
      "external_id": null,
      "active": true
    },
    "member": {
      "id": 111222333,
      "created_at": "2020-02-01T10:00:00Z"
    },
    "message_to_target": {
      "admin_reason": null,
      "admin_status": "approved",
      "administered_at": "2020-02-01T10:00:19Z",
      "subject": "King George, Don't Tax our Tea!",
      "text": "We don't want taxation without representation."
    },
    "petition": {
      "url": "https://your-organisation.controlshiftlabs.com/petitions/no-taxes-on-tea",
      "slug": "no-taxes-on-tea"
    }
  }
}
```

Find a specific signature by email address. Once you have obtained a signature id you can use this identifier in other API calls.

`GET /api/v1/petitions/no-taxes-on-tea/signatures/lookup?email=foo@bar.com`

The JSON response has a single "signature" object, which may include the following fields:

| Field                     |   Explanation                                                              |
| ------------------------- | ------------------------------------------------------------------------ |
| additional_fields | A json object with the signer's responses to any custom fields |
| bucket | Legacy tracking field; `bucket` parameter that was in the petition page URL when the member signed |
| confirmed_at | When the member confirmed their signature. A `null` here indicates that the signature has not been confirmed. |
| confirmed_reason | For a confirmed signature, how it was confirmed. The most common values are `authenticated` (meaning a logged-in user with a confirmed account signed), `double_opt_in` (meaning the signer clicked through a confirmation email), and `facebook` (meaning the member signed with Facebook, and Facebook indicated that the email address was confirmed).
| consent_content_version | For signers that consented to data processing, this identifies the exact terms they agreed to. Only present for organisations that use data processing consent. |
| country | Signer's country, if it was explicitly included on the signature form. Otherwise, the organisation's country, if one is set. |
| country_without_fallback | Signer's country, if it was explicitly included on the signature form. Otherwise, `null`. |
| created_at | When the member signed the petition |
| deleted_at | If the signer clicked the "This wasn't me" link to delete their signature, this records the time when that happened. A `null` indicates the signature was not deleted. |
| email | Signer's email address |
| email_opt_in_type | Details on the way in which the signer was asked to opt in to email updates from the petition and organisation. May be omitted only if `join_organisation` is `null`. |
| eu_data_processing_consent | Whether the signer consented to having their data processed as part of this signature. A `false` or `null` likely indicates that the member had already consented under the current terms and did not need to give additional consent for data processing. Only present for organisations that use data processing consent. |
| first_name | Signer's first or given name |
| from_embed | Boolean, true if the member signed via an embedded form |
| id | Unique internal ID for this signature. This ID can be used in certain other API calls. |
| join_organisation | Whether the signer opted in to email updates from the petition and organisation |
| last_name | Signer's last or family name |
| last_signed_at | When the member signed the petition |
| member | Unique ID and creation time of the member record for the signer's email address |
| message_to_target | If the petition was configured to ask members to write messages to a decision maker, this includes the subject line, text, and moderation information about the signer's message. May be omitted if the petition is not configured for messages to a decision maker. |
| new_mobile_subscriber | If this is true, it means the signature resulted in the member being subscribed to SMS messages, and they were not previously subscribed. |
| opt_in_sms | Whether the signer opted in to SMS updates from the organisation |
| partnership_opt_ins | Array of objects describing whether the signer opted in to email updates from partnerships associated with the petition. Each object in the array identifies a `partnership` by unique `slug`, and indicates whether the signer `opted_in`.
| petition | Basic identifying information about the petition this signature belongs to, including its `slug` and the petition page URL. May also include identifying information on any effort, landing page, or partnerships the petition is associated with. |
| phone_number | Signer's phone number |
| postcode | Signer's postal or zip code |
| sms_opt_in_type | Details on the way in which the signer was asked to opt in to SMS updates. May be omitted only if `opt_in_sms` is `null`. |
| source | Legacy tracking field; `source` parameter that was in the petition page URL when the member signed |
| token | Unique token identifier for this signature, used in some URLs |
| unsubscribe_at | If the signer has unsubscribed from petition updates, this records the time when that happened. A `null` indicates that the signer has not unsubscribed. |
| updated_at | When the signature record was last updated. If it has never been updated, this will be the same as `created_at`. |
| user_agent | User Agent string indicating what kind of web browser the member signed from |
| user_ip | IP address the member signed from |
| utm_campaign | Tracking field; `utm_campaign` parameter that was in the petition page URL when the member signed |
| utm_content | Tracking field; `utm_content` parameter that was in the petition page URL when the member signed |
| utm_medium | Tracking field; `utm_medium` parameter that was in the petition page URL when the member signed |
| utm_source | Tracking field; `utm_source` parameter that was in the petition page URL when the member signed |
| utm_term | Tracking field; `utm_term` parameter that was in the petition page URL when the member signed |


<div></div>

### Create
> POST /api/v1/petitions/no-taxes-on-tea/signatures/

```json
{
  "signature": {
    "first_name": "Foo",
    "last_name": "Bar",
    "email": "foo@bar.com",
    "postcode": "10010",
    "phone_number": "123-456",
    "country": "US",
    "email_opt_in_type_external_id": "abcd12345",
    "join_organisation": true
  }
}
```

> Response body

```json
{
  "signature": {
    "bucket": "",
    "country_without_fallback": "US",
    "from_embed": null,
    "last_signed_at": "2020-02-01T10:00:00Z",
    "user_agent": null,
    "deleted_at": null,
    "additional_fields": {},
    "id": 123,
    "country": "US",
    "created_at": "2020-02-01T10:00:00Z",
    "updated_at": "2020-02-01T10:00:00Z",
    "unsubscribe_at": null,
    "email": "foo@bar.com",
    "confirmed_at": null,
    "confirmed_reason": null,
    "first_name": "Foo",
    "join_organisation": true,
    "last_name": "Bar",
    "phone_number": "123-456",
    "postcode": "10010",
    "source": "",
    "token": "abcDEFghi123456789jklMNO",
    "user_ip": "123.123.123.123",
    "utm_campaign": null,
    "utm_content": null,
    "utm_medium": null,
    "utm_source": null,
    "utm_term": null,
    "eu_data_processing_consent": false,
    "consent_content_version": null,
    "data_processing_consent_type": "explicit",
    "partnership_opt_ins": [],
    "email_opt_in_type": {
      "context": "external",
      "kind": "external",
      "mailable": true,
      "external_id": "abcd12345",
      "active": false
    },
    "member": {
      "id": 111222333,
      "created_at": "2020-02-01T10:00:00Z"
    },
    "petition": {
      "url": "https://your-organisation.controlshiftlabs.com/petitions/no-taxes-on-tea",
      "slug": "no-taxes-on-tea"
    }
  }
}
```

Creates a new signature for the specified petition. This API endpoint can be used to record externally collected signatures for
a particular petition within your instance of the ControlShift platform.

`POST /api/v1/petitions/no-taxes-on-tea/signatures/`

All of the same post-signature actions that the platform usually supports including webhooks, CRM syncs, and other integrations
will still be triggered, in the same way they are for normal signatures.

For organisations that require email confirmation, a confirmation email will be sent to the action taker.

The request body should be a JSON block containing one `"signature"` object, which can have the following properties:

| Field                     |   Description                                                            | Required? |
| ------------------------- | ------------------------------------------------------------------------ | --------- |
<%= partial 'includes/authenticated_api/common_action_fields.md.erb'  %>

<div></div>

### Update email opt in type

Updates the email opt in type associated with a single signature. This can be used to change the email opt in type
if a more legally compliant form of consent was gathered elsewhere. The email opt in type for the signature is updated
to the opt in type specified by `external_id`.

No history is stored recording the original consent type, it is replaced by the new one specified in the API call.

`POST /api/v1/petitions/no-taxes-on-tea/signatures/123`

<div></div>

#### POST body

`external_id=foo`

<div></div>

### Destroy

> DELETE response body for Destroy

```json
{
  "signature": {
    "deleted": true,
    "id": 123,
    "email": "foo@bar.com"
  }
}
```

Permanently deletes the signature with the specified ID. Note that this will decrement the signature count on the petition.

`DELETE /api/v1/petitions/no-taxes-on-tea/signatures/123`

<div></div>

### List

> GET response body for List

```json
{
  "petition": {
    "title": "No Taxes on Tea!",
    "slug": "no-taxes-on-tea"
  },
  "signatures": [
    {
      "bucket": "",
      "country_without_fallback": "US",
      "from_embed": null,
      "last_signed_at": "2020-02-01T10:00:00Z",
      "user_agent": null,
      "deleted_at": null,
      "additional_fields": {},
      "id": 123,
      "country": "US",
      "created_at": "2020-02-01T10:00:00Z",
      "updated_at": "2020-02-01T10:00:00Z",
      "unsubscribe_at": null,
      "email": "foo@bar.com",
      "confirmed_at": null,
      "confirmed_reason": null,
      "first_name": "Foo",
      "join_organisation": true,
      "last_name": "Bar",
      "phone_number": "123-456",
      "postcode": "10010",
      "source": "",
      "token": "abcDEFghi123456789jklMNO",
      "user_ip": "123.123.123.123",
      "utm_campaign": null,
      "utm_content": null,
      "utm_medium": null,
      "utm_source": null,
      "utm_term": null,
      "eu_data_processing_consent": false,
      "consent_content_version": null,
      "data_processing_consent_type": "explicit",
      "partnership_opt_ins": [],
      "email_opt_in_type": {
        "context": "web_form",
        "kind": "radio_sure",
        "mailable": true,
        "external_id": null,
        "active": true
      },
      "member": {
        "id": 111222333,
        "created_at": "2020-02-01T10:00:00Z"
      },
      "message_to_target": {
        "admin_reason": null,
        "admin_status": "approved",
        "administered_at": "2020-02-01T10:00:19Z",
        "subject": "King George, Don't Tax our Tea!",
        "text": "We don't want taxation without representation."
      },
      "petition": {
        "url": "https://your-organisation.controlshiftlabs.com/petitions/no-taxes-on-tea",
        "slug": "no-taxes-on-tea"
      }
    }
  ],
  "meta": {
    "current_page": 2,
    "total_pages": 2,
    "previous_page": 1,
    "next_page": null
  }
}
```


List the signatures that are part of a Petition.

<%= partial "includes/shared/pagination.md" %>

Hash     | Description
--------- | -------
meta      | pagination information
petition  | basic information about the petition
signatures | an array of signature results

`GET /api/v1/petitions/no-taxes-on-tea/signatures?page=2`


<div></div>


### Unsubscribe

> POST response body for Unsubscribe

```json
{
  "signature": {
    "unsubscribed": true,
    "notice": "You have successfully unsubscribed from the petition.",
    "id": 123,
    "email": "foo@bar.com"
  }
}
```

Unsubscribes a member who has signed the petition from any emails sent by petition creator. They will still receive transactional emails.

`POST /api/v1/petitions/no-taxes-on-tea/signatures/123/unsubscribe`

<div></div>
